/*TAG'S*/
/*En el body estoy editando las fuentes, el color de fondo y de la letra en general,
basado en la página original de Twitter*/
body {
  background: #e6ecf0;
  color: #14171a;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

header {
  background: white;
  height: 49px;
  position: fixed;
  width: 100%;
}

header > nav {
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
}

header > nav > button {
  background: #D61E80;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-right: 60px;
  padding: 10px 15px;
}

header > nav > button:hover {
  background: #C61E80;
  color: white;
}

header > nav > p {
  color: #657786;
  display: inline-block;
  font-weight: 900;
  padding: 6px;
}

/*Aqui estoy editando el hover del menu*/
header > nav > p:hover {
  color: #D61E80;
  border-bottom: 2px solid #D61E80;
  font-weight: 900;
}

/*Imagen editada*/
header > nav > img {
  border-radius: 50px;
  display: inline-block;
  height: 40px;
  margin: 3px 12px;
  width: 40px;
}

/*Estilo para la barra de busqueda de Twitter*/
header > nav > input {
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  width: 139px;
}

/*Línea rosa del input*/
header > nav > input:focus {
  background-color: white;
  border-radius: 21px;
  border: 2px solid #D61E80;
  outline: none;
}

/*Dandole margen a los íconos para que queden separados*/
header > nav > p > i {
  margin: 4px;
}

/*ID'S*/
#counter {
  background: transparent;
  border: none;
  color: gray;
  margin-left: 60px;
}

#logo {
  color: #1DA1F2;
  display: inline-block;
  margin-top: 20px;
}

#message {
  border: 1px solid #EEA5CC;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0px 0px 50px;
  resize: none;
  width: 500px;
}

#message:focus {
  border: 2px solid #EEA5CC;
  border-radius: 10px;
  height: 118px;
  outline: none;
  resize: none;
}

#section_1 {
  margin-left: 50px;
  padding-top: 60px;
}

#section_1 > div {
  background: linear-gradient(#EEA5CC, #FAE8F2, white);
  display: inline-block;
}

#section_1 > div.info-user {
  height: 300px;
  width: 350px;
}

#section_1 > div > img {
  border: 2px solid white;
  border-radius: 50%;
  height: 72px;
  margin-left: 20px;
  margin-top: 110px;
  width: 72px;
}

#section_1 > div > p.name {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding-top: 140px;
}

#section_1 > div > p.name:hover {
  text-decoration: underline;
}

#section_1 > div > p.link {
  color: #B3BCC3;
  margin: 0px;
  padding-left: 100px;
}

#section_1 > div > p.link:hover {
  text-decoration: underline;
}

#section_2 {
  background: #FAE8F2;
  min-height: 120px;
  margin-left: 10px;
  margin-top: 60px;
  width: 570px;
}

#twitts_container {
  background: white;
  display: block;
  height: 100%;
  margin-left: 10px;
  margin-top: 10px;
  width: 570px;
}

#twitts_container > div > p {
  margin: 10px;
}

#twittear {
  background: #EEA5CC;
  border: none;
  border-radius: 15px;
  color: #FBEEF5;
  display: block;
  font-weight: 900;
  margin: 4px 18px 12px 0px;
  padding: 10px 15px;
}

#twittear:hover {
  background: #EFABCF;
  outline: none;
}

/*CLASES*/
/*flotante a la izquierda*/
.c-b {
  clear: both;
}

.f-l {
  float: left;
}

/*Flotante derecha*/
.f-r {
  float: right;
}

/*Text align center*/
.t-a-c {
  text-align: center;
}
